* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
}

/* Layout */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* Course */
.course-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Form */
input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 6px;
}

.btn-delete {
  background-color: #e74c3c;
  margin-left: 15px;
}

button:hover {
  background-color: #2980b9;
  opacity: 0.9;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
}

/* Status */
.status.enrolled { color: green; }
.status.paused { color: orange; }
.status.dropped { color: red; }

.error-box {
  background: #ffe0e0;
  color: #b00000;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.count-wrapper {
  position: relative;
  display: inline-block;
}

.student-count {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

.student-tooltip {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  min-width: 150px;
}

.count-wrapper:hover .student-tooltip {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #a2b0f2 0%, #74f79c 100%);  
  color: rgb(4, 4, 4);
  padding: 20px 20px;

}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #0e0f0f;
  text-decoration: none;
  font-weight: 500;
}

.nav-item.active {
  color: rgb(27, 26, 26);
  border-bottom: 2px solid rgb(11, 9, 9);
  padding-bottom: 2px;
}


